/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






:root {
    --50: #ecfdf5;
    --100: #d1fae5;
    --200: #bbf7d0;
    --300: #86efac;
    --400: #4ade80;
    --500: #84cc16;
    --600: #65a30d;
    --700: #4d7c0f;
    --800: #3f6212;
    --900: #365314;
    --950: #1a2e05;
}

body {
    font-family: 'roboto', sans-serif;
}

.container {
    display: grid;
    grid: 200px 3fr / 275px 1fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    border: 1px blue dashed;
    grid: 50px repeat(2, 150px) / 1fr;
    gap: 50px;
    padding: 10px;
    /* padding-right: 100px; */
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: var(--900);
    color: white;
}


.dashboard-icon {
    background-image: url(icons/sidebar-icons/view-dashboard\ \(1\).svg);
    width: 50px;
    height: 50px;
}

.title {
    font-weight: 600;
    font-size: 25px;
}

.icon {
    width: 25px;
    height: 25px;
    justify-self: center;
}

.dashboard-header, .user-actions > ul > li, .misc > ul > li {
    gap: 15px;
}

.user-actions > ul > li, .misc > ul > li, .dashboard-header {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.user-actions, .misc {
    font-weight: 600;
    font-size: 17px;
}

#home-icon {
    background-image: url(icons/sidebar-icons/home.svg);
}

#profile-icon {
    background-image: url(icons/sidebar-icons/card-account-details-outline.svg);
}

#messages-icon {
    background-image: url(icons/sidebar-icons/message-reply.svg);
}

#history-icon {
    background-image: url(icons/sidebar-icons/history.svg);
}

#tasks-icon {
    background-image: url(icons/sidebar-icons/calendar-check.svg);
}

#communities-icon {
    background-image: url(icons/sidebar-icons/account-group.svg);
}

#settings-icon {
    background-image: url(icons/sidebar-icons/cog.svg);
}

#support-icon {
    background-image: url(icons/sidebar-icons/help-box.svg);
}

#privacy-icon {
    background-image: url(icons/sidebar-icons/shield-check.svg);
}
.main-content {
    padding-left: 15px;
    background-color: rgba(236, 253, 245, 0.4);
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    box-shadow: 0 1px 20px -6px #222;
}

.top-header {
    display: grid;
    grid-template-columns: minmax(100px, 700px) 1fr;
    grid-template-rows: 1fr;
}

.top-header .left-side {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    padding-left: 20px;
}

#searchbar {
    border-radius: 15px;
    height: 35px;
    background-color: rgba(26, 46, 5, 0.2);
    border: white;
}

.top-header .right-side {
    display: grid;
    grid-template-columns: 30px 50px 1fr;
    grid-template-rows: 1fr;
    grid-column: 2;
    grid-row: 1;
    align-items: center;  
    gap: 30px;
}

.top-header .right-side, .bottom-header .right-side {
    justify-self: end;
    padding-right: 30px;
}

.user-name {
    font-size: 20px;
    font-weight: bolder;
}

#search-icon {
    background-image: url(icons/header-icons/magnify.svg);
    background-repeat: no-repeat;
}

#notif-icon {
    background-image: url(icons/header-icons/bell-ring.svg);
}

.profile-picture {
    background-image: url(images/pexels-alina-vilchenko-2698519\ \(1\).jpg);
    /* Photo by Alina Vilchenko: https://www.pexels.com/photo/close-up-photo-of-cat-2698519/ */
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-repeat: no-repeat;
}

.user-name {
    justify-self: left;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.bottom-header .left-side {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
}

.bottom-header
 .left-side .profile-picture {   
    justify-self: center;
}

.hello-message {
    align-self: center;
    font-weight: 600;
}

.hello-message span {
    font-weight: 900;
    font-size: 25px;
}

.right-side{
    justify-self: center;
}

.bottom-header .right-side .create-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}

.bottom-header .right-side {
    justify-self: end;
}

button {
    background-color: var(--800);
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: white;
    font-size: 15px;
    font-weight: 700;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20px 1fr 1fr;
    gap: 30px;
    padding-top: 20px;
}

.main-content > :first-child, .main-content > :nth-child(2), .trending > :first-child {
    font-size: 20px;
    font-weight: 700;
}

.main-content .headers {
    grid-row: 1;
    grid-column: 1 / -1;
}

.card {
    display: grid;
    grid-template-rows: 30px 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: white;
    box-shadow: 0 5px 20px -6px #222;
    border-radius: 15px;
    padding: 20px;
    border-left: 10px var(--900) solid;

}

#favorite, #eye, #share {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.reactions {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 1fr;
    justify-self: end;
    align-self: center;
    justify-items: center;
}

#favorite {
    background-image: url(icons/main-content-icons/cards/star-plus.svg);
}

#eye {
    background-image: url(icons/main-content-icons/cards/eye-plus.svg);
}

#share {
    background-image: url(icons/main-content-icons/cards/share-variant.svg);
}

.card :first-child {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.card :nth-child(2) {
    font-size: 15px;
    color: grey;
}

.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-row: 2 / -1;
}

.announcements, .trending {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 20px minmax(100px, 300px);
    grid-column: 2 / 4;
    grid-row: 2;
    /* align-self: center;
    justify-self: center; */
}

.announcements > div > div > :first-child {
    font-size: 15px;
    font-weight: 800;
    padding-bottom: 5px;
}

.announcements> div > div > :nth-child(2) {
    font-size: 12px;
}

.announcements {
    grid-template-rows: minmax(100px, 300px);
    /* align-self: center;
    justify-self: center; */
}

.announcements > div {
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
}

.trending div {
    background-color: white;
}

.line {
    background-color: black;
    opacity: 0.4;
}

.announcements > :first-child , .trending > :nth-child(2) {
    /* border: 1px solid black; */
    box-shadow: 0 1px 20px -6px #222;;
}

.trending > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.trending {
    grid-column: 2 / 4;
    grid-row: 3;
    gap: 10px;
}


.trending > :nth-child(2) {
    border-radius: 20px;
}

.trending-profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.trending-profile > :nth-child(2) > :first-child {
    font-weight: 800;
    padding-bottom: 5px;
}

.trending-profile > :nth-child(2) > :nth-child(2) {
    font-size: 15px;
    color: grey;
}

#profile-icon-one, #profile-icon-two, #profile-icon-three, #profile-icon-four {
    background-image: url(images/pexels-alina-vilchenko-2698519\ \(1\).jpg);
    width: 50px;
    height: 50px;
    align-self: center;
    justify-self: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}